# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.pyc

.gitignore.swp


# Environnement
.env
.venv

# Données locales (si tu veux les exclure)



# IDE
.idea/
.vscode/

# Fichiers temporaires
*.tmp
*.swp

temp_shapefile_cache/
